:root {
  --primary-background: #ffeedf;
  --footer-background: #d8e0e9;
  --primary-text: #333;
  --menu-text: #4b51a2;
  --menu-text2: #ffeedf;
  --highlight-color: #f440c5;
}

/* General Body Styling */
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

/* Header */
header {
  background-color: #fff;
  text-align: center;
  width: 100%;
}

/* Logo Section */
.logo-section {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.logo {
  max-width: 100%;
  height: auto;
}

/* Header Details */
.header-details {
  color: var(--highlight-color);
  font-family: "Dancing Script", cursive;
  margin-top: 0.5em;
  font-size: 2em;
  font-weight: 800;
}

/* Navigation Bar */
header nav {
  display: flex;
  gap: 1em;
  justify-content: center;
}

header nav a {
  align-items: center;
  color: var(--menu-text);
  display: flex;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 0.5em;
  border-radius: 10%;
  transition: background-color 0.3s, color 0.3s;
}

header nav a:hover {
  background-color: var(--menu-text2);
  color: var(--highlight-color);
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  font-size: 1.2em;
  flex-direction: column;
  align-items: center;
  margin: 0.5em auto;
  width: 80%;
}

h2 {
  font-size: 2.8em;
  font-family: "Dancing Script", cursive;
  color: var(--highlight-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8em;
  text-align: center; /* Center-align the h2 */
  animation: fadeInZoom 1s ease-in-out;
}

.greetings h2 {
  color: var(--menu-text);
}

/* Animation for h2 */
@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

section {
  background-color: var(--primary-background);
  margin-bottom: 1.1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Paragraph Styling */
.intro p,
.greetings p {
  line-height: 1.6;
  margin: 2em 1em;
  text-align: left;
}

/* Benefits List Styling */
.benefits-list {
  line-height: 1.7;
  margin: 2em auto;
  text-align: left;
  max-width: 80%;
}

.benefits-list li {
  margin-bottom: 10px;
}

/* Image Container Styling */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.8em auto;
  overflow: hidden;
}

.image-container img {
  height: auto;
  width: 32%;
  object-fit: fill;
  object-position: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
  transition: object-position 0.3s ease, filter 0.3s ease;
}

/* Hover Effect */
.image-container img:hover {
  object-position: center 30%;
  filter: brightness(1.12);
}

/* Footer  */
footer {
  background-color: #fff;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-bottom: 1em;
  margin: ;
}

.contact-info,
.social-media {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  padding: 0 1em;
}

.contact-info p,
.social-media p {
  display: flex;
  align-items: center;
  margin: 0.3em 0;
}

.footer-title {
  font-weight: bold;
  color: var(--menu-text);
  margin-bottom: 0.5em;
}

.contact-info span,
.social-media i {
  margin-right: 0.5em;
  font-size: 1.2em;
  color: var(--highlight-color);
}

/* Footer Bottom Section */
.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
  border-top: 1px solid var(--menu-text);
  font-size: 0.9em;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: var(--menu-text);
  text-decoration: none;
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal.active {
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: #fff;
  font-size: 1em;
  padding: 20px;
  border-radius: 3%;
  height: auto;
  max-height: 80%;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal .field-details {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--highlight-color);
}

.modal label {
  color: var(--menu-text);
}

/* Close Button Styling */
.close-btn {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--menu-text);
  font-weight: 600;
}

/* Modal Title Styling */
.modal-content h2 {
  color: var(--highlight-color);
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin: 0.5em 1em;
}

/* Label Styling */
label {
  font-weight: bold;
  margin-top: 0.5em;
  display: block;
}

/* Input Field Styling */
#quoteForm input,
#quoteForm select {
  width: calc(100% - 20px);
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 10%;
  border: 1px solid #ddd;
  color: var(--menu-text);
}

/* Estimated Quote Row */
.quote-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5em;
}

.quote-row label {
  font-weight: bold;
}

/* Modal Buttons Styling */
.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.modal-buttons button {
  color: var(--menu-text);
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10%;
  background-color: #fff;
  margin: 0.5em;
}

.modal-buttons button:hover {
  background-color: var(--menu-text2);
  color: var(--highlight-color);
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 1200px) {
  html,
  body {
    font-size: 1em;
  }

  h2 {
    font-size: 1.9em;
  }

  header nav {
    gap: 0.3em;
  }

  header nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    font-size: 0.9em;
    margin: 0;
  }

  .header-details {
    font-size: 1em;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .content-wrapper {
    background-color: var(--primary-background);
    margin: 0 auto;
    width: 93%;
  }

  .modal-content {
    height: auto;
    width: 80%;
  }
}
