:root {
  --primary-background: #eff8f8;
  --footer-background: #d8e0e9;
  --primary-text: #333;
  --menu-text: #4b51a2;
  --highlight-color: #f440c5;
}

/* General Body Styling */
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100vw;
}

/* Header */
header {
  background-color: #fff;
  text-align: center;
  width: 100%;
}

/* Logo Section */
.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

/* Header Details */
.header-details {
  color: var(--highlight-color);
  font-family: "Dancing Script", cursive;
  margin-top: 0.5rem;
  font-size: 2em;
  font-weight: 800;
}

/* Navigation Bar */
header nav {
  display: flex;
  gap: 1em;
  justify-content: center;
}

header nav a {
  align-items: center;
  color: var(--menu-text);
  display: flex;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 0.5em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

header nav a:hover {
  background-color: var(--menu-text);
  color: #fff;
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em auto;
  width: 80%;
}

h2 {
  font-size: 2.8em;
  font-family: "Dancing Script", cursive;
  color: var(--highlight-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.75rem;
  text-align: center; /* Center-align the h2 */
  animation: fadeInZoom 1s ease-in-out;
}

.greetings h2 {
  color: var(--menu-text);
}

/* Animation for h2 */
@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

section {
  background-color: var(--primary-background);
  margin-bottom: 1em;
}

/* Paragraph Styling */
.intro p,
.greetings p,
.benefits p {
  font-size: 1.3em;
  line-height: 1.8;
  margin: 2em 1em;
  text-align: center;
}

/* Benefits List Styling */
.benefits-list {
  font-size: 1.3em;
  line-height: 1.8;
  margin: 2em auto;
  text-align: left;
  max-width: 600px;
  padding-left: 1em;
}

.benefits-list li {
  margin-bottom: 10px;
}

/* Image Container Styling */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
}

/* Image Styling with Aspect Ratio */
.image-container img {
  height: auto;
  width: 32%;
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer  */
footer {
  background-color: #fff;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding-bottom: 1rem;
}

.contact-info,
.social-media {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  padding: 0 1rem;
}

.contact-info p,
.social-media p {
  display: flex;
  align-items: center;
  margin: 0.3rem 0;
}

.footer-title {
  font-weight: bold;
  color: var(--menu-text);
  margin-bottom: 0.5rem;
}

.contact-info span,
.social-media i {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--highlight-color);
}

/* Footer Bottom Section */
.footer-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid var(--menu-text);
  font-size: 0.9rem;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: var(--menu-text);
  text-decoration: none;
}

/* Responsive Layout for Smaller Screens */
@media (max-width: 768px) {
  header,
  footer {
    padding: 0.5em;
  }

  header nav {
    gap: 0.3em;
  }

  header nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.2em;
    font-size: 0.8em;
    margin: 0;
  }

  .header-details {
    font-size: 1rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-content p,
  .footer-content a {
    font-size: 1.2rem;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .content-wrapper {
    background-color: var(--primary-background);
    padding: 1em;
    margin: 0 auto;
    width: 82%;
  }

  .image-container {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
  }
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  text-align: left;
}

.modal .field-details {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--highlight-color);
}

.modal label {
  color: var(--highlight-color);
}

/* Close Button Styling */
.close-btn {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Close Button Styling - Top Right */
#closeButtonTop {
  color: var(--menu-text);
  font-weight: 600;
}

/* Modal Title Styling */
.modal-content h2 {
  color: var(--highlight-color);
  font-family: "Dancing Script", cursive;
  text-align: center;
  margin: 0.5em 1em;
}

/* Label Styling */
label {
  font-weight: bold;
  margin-top: 0.5rem;
  display: block;
}

.help-text {
  font-size: 0.9em;
  color: #555;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Input Field Styling */
#quoteForm input,
#quoteForm select {
  width: calc(100% - 20px);
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: var(--menu-text);
}

/* Estimated Quote Row */
.quote-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.quote-row label {
  font-weight: bold;
}

/* Disclaimer Text Styling */
.disclaimer {
  font-size: 0.9em;
  color: #555;
  margin-top: 1rem;
}

/* Modal Buttons Styling */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  color: var(--menu-text);
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgba(75, 81, 162, 0.1);
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.modal-buttons button:hover {
  background-color: var(--menu-text);
  color: #fff;
}
